 <div class="all-page">
     <div class="card">
        <div class="detail">
            <h1>Centerer Mixin</h1>
            <h2>Jenna Ramsey</h2>
            <h3>May 10, 2016</h3>
            <div class="description">
                <p>This mixin centers elements both vertically and horizontally. The parent must be position:relative.</p>
            </div>
            <img class="heart" src="images/heart-icon.svg" alt="">
            <img class="comment" src="images/comment-icon.svg" alt="">
            <img class="save" src="images/save-icon.svg" alt="">
        </div>
        <iframe height='372' class="codepen" scrolling='no' src='//codepen.io/ramseykjenna/embed/Myxyjy/?height=372&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='http://codepen.io/ramseykjenna/pen/Myxyjy/'>Centerer Mixin</a> by Jenna Ramsey (<a href='http://codepen.io/ramseykjenna'>@ramseykjenna</a>) on <a href='http://codepen.io'>CodePen</a>.
        </iframe>
    </div>
     <div class="card">
        <div class="detail">
            <h1>Centerer Mixin</h1>
            <h2>Jenna Ramsey</h2>
            <h3>May 10, 2016</h3>
            <div class="description">
                <p>This mixin centers elements both vertically and horizontally. The parent must be position:relative.</p>
            </div>
            <img class="heart" src="images/heart-icon.svg" alt="">
            <img class="comment" src="images/comment-icon.svg" alt="">
            <img class="save" src="images/save-icon.svg" alt="">
        </div>
        <iframe height='372' class="codepen" scrolling='no' src='//codepen.io/ramseykjenna/embed/Myxyjy/?height=372&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='http://codepen.io/ramseykjenna/pen/Myxyjy/'>Centerer Mixin</a> by Jenna Ramsey (<a href='http://codepen.io/ramseykjenna'>@ramseykjenna</a>) on <a href='http://codepen.io'>CodePen</a>.
        </iframe>
    </div>
     <div class="card">
        <div class="detail">
            <h1>Centerer Mixin</h1>
            <h2>Jenna Ramsey</h2>
            <h3>May 10, 2016</h3>
            <div class="description">
                <p>This mixin centers elements both vertically and horizontally. The parent must be position:relative.</p>
            </div>
            <img class="heart" src="images/heart-icon.svg" alt="">
            <img class="comment" src="images/comment-icon.svg" alt="">
            <img class="save" src="images/save-icon.svg" alt="">
        </div>
        <iframe height='372' class="codepen" scrolling='no' src='//codepen.io/ramseykjenna/embed/Myxyjy/?height=372&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='http://codepen.io/ramseykjenna/pen/Myxyjy/'>Centerer Mixin</a> by Jenna Ramsey (<a href='http://codepen.io/ramseykjenna'>@ramseykjenna</a>) on <a href='http://codepen.io'>CodePen</a>.
        </iframe>
    </div>
     <div class="card">
        <div class="detail">
            <h1>Centerer Mixin</h1>
            <h2>Jenna Ramsey</h2>
            <h3>May 10, 2016</h3>
            <div class="description">
                <p>This mixin centers elements both vertically and horizontally. The parent must be position:relative.</p>
            </div>
            <img class="heart" src="images/heart-icon.svg" alt="">
            <img class="comment" src="images/comment-icon.svg" alt="">
            <img class="save" src="images/save-icon.svg" alt="">
        </div>
        <iframe height='372' class="codepen" scrolling='no' src='//codepen.io/ramseykjenna/embed/Myxyjy/?height=372&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='http://codepen.io/ramseykjenna/pen/Myxyjy/'>Centerer Mixin</a> by Jenna Ramsey (<a href='http://codepen.io/ramseykjenna'>@ramseykjenna</a>) on <a href='http://codepen.io'>CodePen</a>.
        </iframe>
    </div>
     <div class="card">
        <div class="detail">
            <h1>Centerer Mixin</h1>
            <h2>Jenna Ramsey</h2>
            <h3>May 10, 2016</h3>
            <div class="description">
                <p>This mixin centers elements both vertically and horizontally. The parent must be position:relative.</p>
            </div>
            <img class="heart" src="images/heart-icon.svg" alt="">
            <img class="comment" src="images/comment-icon.svg" alt="">
            <img class="save" src="images/save-icon.svg" alt="">
        </div>
        <iframe height='372' class="codepen" scrolling='no' src='//codepen.io/ramseykjenna/embed/Myxyjy/?height=372&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='http://codepen.io/ramseykjenna/pen/Myxyjy/'>Centerer Mixin</a> by Jenna Ramsey (<a href='http://codepen.io/ramseykjenna'>@ramseykjenna</a>) on <a href='http://codepen.io'>CodePen</a>.
        </iframe>
    </div>
     <div class="card">
        <div class="detail">
            <h1>Centerer Mixin</h1>
            <h2>Jenna Ramsey</h2>
            <h3>May 10, 2016</h3>
            <div class="description">
                <p>This mixin centers elements both vertically and horizontally. The parent must be position:relative.</p>
            </div>
            <img class="heart" src="images/heart-icon.svg" alt="">
            <img class="comment" src="images/comment-icon.svg" alt="">
            <img class="save" src="images/save-icon.svg" alt="">
        </div>
        <iframe height='372' class="codepen" scrolling='no' src='//codepen.io/ramseykjenna/embed/Myxyjy/?height=372&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='http://codepen.io/ramseykjenna/pen/Myxyjy/'>Centerer Mixin</a> by Jenna Ramsey (<a href='http://codepen.io/ramseykjenna'>@ramseykjenna</a>) on <a href='http://codepen.io'>CodePen</a>.
        </iframe>
    </div>
     <div class="card">
        <div class="detail">
            <h1>Centerer Mixin</h1>
            <h2>Jenna Ramsey</h2>
            <h3>May 10, 2016</h3>
            <div class="description">
                <p>This mixin centers elements both vertically and horizontally. The parent must be position:relative.</p>
            </div>
            <img class="heart" src="images/heart-icon.svg" alt="">
            <img class="comment" src="images/comment-icon.svg" alt="">
            <img class="save" src="images/save-icon.svg" alt="">
        </div>
        <iframe height='372' class="codepen" scrolling='no' src='//codepen.io/ramseykjenna/embed/Myxyjy/?height=372&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='http://codepen.io/ramseykjenna/pen/Myxyjy/'>Centerer Mixin</a> by Jenna Ramsey (<a href='http://codepen.io/ramseykjenna'>@ramseykjenna</a>) on <a href='http://codepen.io'>CodePen</a>.
        </iframe>
    </div>
     <div class="card">
        <div class="detail">
            <h1>Centerer Mixin</h1>
            <h2>Jenna Ramsey</h2>
            <h3>May 10, 2016</h3>
            <div class="description">
                <p>This mixin centers elements both vertically and horizontally. The parent must be position:relative.</p>
            </div>
            <img class="heart" src="images/heart-icon.svg" alt="">
            <img class="comment" src="images/comment-icon.svg" alt="">
            <img class="save" src="images/save-icon.svg" alt="">
        </div>
        <iframe height='372' class="codepen" scrolling='no' src='//codepen.io/ramseykjenna/embed/Myxyjy/?height=372&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='http://codepen.io/ramseykjenna/pen/Myxyjy/'>Centerer Mixin</a> by Jenna Ramsey (<a href='http://codepen.io/ramseykjenna'>@ramseykjenna</a>) on <a href='http://codepen.io'>CodePen</a>.
        </iframe>
    </div>
     <div class="card">
        <div class="detail">
            <h1>Centerer Mixin</h1>
            <h2>Jenna Ramsey</h2>
            <h3>May 10, 2016</h3>
            <div class="description">
                <p>This mixin centers elements both vertically and horizontally. The parent must be position:relative.</p>
            </div>
            <img class="heart" src="images/heart-icon.svg" alt="">
            <img class="comment" src="images/comment-icon.svg" alt="">
            <img class="save" src="images/save-icon.svg" alt="">
        </div>
        <iframe height='372' class="codepen" scrolling='no' src='//codepen.io/ramseykjenna/embed/Myxyjy/?height=372&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='http://codepen.io/ramseykjenna/pen/Myxyjy/'>Centerer Mixin</a> by Jenna Ramsey (<a href='http://codepen.io/ramseykjenna'>@ramseykjenna</a>) on <a href='http://codepen.io'>CodePen</a>.
        </iframe>
    </div>
     <div class="card">
        <div class="detail">
            <h1>Centerer Mixin</h1>
            <h2>Jenna Ramsey</h2>
            <h3>May 10, 2016</h3>
            <div class="description">
                <p>This mixin centers elements both vertically and horizontally. The parent must be position:relative.</p>
            </div>
            <img class="heart" src="images/heart-icon.svg" alt="">
            <img class="comment" src="images/comment-icon.svg" alt="">
            <img class="save" src="images/save-icon.svg" alt="">
        </div>
        <iframe height='372' class="codepen" scrolling='no' src='//codepen.io/ramseykjenna/embed/Myxyjy/?height=372&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='http://codepen.io/ramseykjenna/pen/Myxyjy/'>Centerer Mixin</a> by Jenna Ramsey (<a href='http://codepen.io/ramseykjenna'>@ramseykjenna</a>) on <a href='http://codepen.io'>CodePen</a>.
        </iframe>
    </div>
     <div class="card">
        <div class="detail">
            <h1>Centerer Mixin</h1>
            <h2>Jenna Ramsey</h2>
            <h3>May 10, 2016</h3>
            <div class="description">
                <p>This mixin centers elements both vertically and horizontally. The parent must be position:relative.</p>
            </div>
            <img class="heart" src="images/heart-icon.svg" alt="">
            <img class="comment" src="images/comment-icon.svg" alt="">
            <img class="save" src="images/save-icon.svg" alt="">
        </div>
        <iframe height='372' class="codepen" scrolling='no' src='//codepen.io/ramseykjenna/embed/Myxyjy/?height=372&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='http://codepen.io/ramseykjenna/pen/Myxyjy/'>Centerer Mixin</a> by Jenna Ramsey (<a href='http://codepen.io/ramseykjenna'>@ramseykjenna</a>) on <a href='http://codepen.io'>CodePen</a>.
        </iframe>
    </div>
     <div class="card">
        <div class="detail">
            <h1>Centerer Mixin</h1>
            <h2>Jenna Ramsey</h2>
            <h3>May 10, 2016</h3>
            <div class="description">
                <p>This mixin centers elements both vertically and horizontally. The parent must be position:relative.</p>
            </div>
            <img class="heart" src="images/heart-icon.svg" alt="">
            <img class="comment" src="images/comment-icon.svg" alt="">
            <img class="save" src="images/save-icon.svg" alt="">
        </div>
        <iframe height='372' class="codepen" scrolling='no' src='//codepen.io/ramseykjenna/embed/Myxyjy/?height=372&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='http://codepen.io/ramseykjenna/pen/Myxyjy/'>Centerer Mixin</a> by Jenna Ramsey (<a href='http://codepen.io/ramseykjenna'>@ramseykjenna</a>) on <a href='http://codepen.io'>CodePen</a>.
        </iframe>
    </div>
     <div class="card">
        <div class="detail">
            <h1>Centerer Mixin</h1>
            <h2>Jenna Ramsey</h2>
            <h3>May 10, 2016</h3>
            <div class="description">
                <p>This mixin centers elements both vertically and horizontally. The parent must be position:relative.</p>
            </div>
            <img class="heart" src="images/heart-icon.svg" alt="">
            <img class="comment" src="images/comment-icon.svg" alt="">
            <img class="save" src="images/save-icon.svg" alt="">
        </div>
        <iframe height='372' class="codepen" scrolling='no' src='//codepen.io/ramseykjenna/embed/Myxyjy/?height=372&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='http://codepen.io/ramseykjenna/pen/Myxyjy/'>Centerer Mixin</a> by Jenna Ramsey (<a href='http://codepen.io/ramseykjenna'>@ramseykjenna</a>) on <a href='http://codepen.io'>CodePen</a>.
        </iframe>
    </div>
     <div class="card">
        <div class="detail">
            <h1>Centerer Mixin</h1>
            <h2>Jenna Ramsey</h2>
            <h3>May 10, 2016</h3>
            <div class="description">
                <p>This mixin centers elements both vertically and horizontally. The parent must be position:relative.</p>
            </div>
            <img class="heart" src="images/heart-icon.svg" alt="">
            <img class="comment" src="images/comment-icon.svg" alt="">
            <img class="save" src="images/save-icon.svg" alt="">
        </div>
        <iframe height='372' class="codepen" scrolling='no' src='//codepen.io/ramseykjenna/embed/Myxyjy/?height=372&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='http://codepen.io/ramseykjenna/pen/Myxyjy/'>Centerer Mixin</a> by Jenna Ramsey (<a href='http://codepen.io/ramseykjenna'>@ramseykjenna</a>) on <a href='http://codepen.io'>CodePen</a>.
        </iframe>
    </div>
     <div class="card">
        <div class="detail">
            <h1>Centerer Mixin</h1>
            <h2>Jenna Ramsey</h2>
            <h3>May 10, 2016</h3>
            <div class="description">
                <p>This mixin centers elements both vertically and horizontally. The parent must be position:relative.</p>
            </div>
            <img class="heart" src="images/heart-icon.svg" alt="">
            <img class="comment" src="images/comment-icon.svg" alt="">
            <img class="save" src="images/save-icon.svg" alt="">
        </div>
        <iframe height='372' class="codepen" scrolling='no' src='//codepen.io/ramseykjenna/embed/Myxyjy/?height=372&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='http://codepen.io/ramseykjenna/pen/Myxyjy/'>Centerer Mixin</a> by Jenna Ramsey (<a href='http://codepen.io/ramseykjenna'>@ramseykjenna</a>) on <a href='http://codepen.io'>CodePen</a>.
        </iframe>
    </div>

 </div>
