 <div class="all-page">
     <h1>My Mixins</h1>
      <div class="card">
            <div class="detail">
                <span class="title">Centerer Mixin</span>
                <span class="user">by Jenna Ramsey</span>
                <div class="icons">
                    <i class="ion-ios-plus-outline"></i>
                    <i class="ion-clipboard"></i>
                </div>
            </div>
            <iframe height='372' class="codepen" scrolling='no' src='//codepen.io/ramseykjenna/embed/Myxyjy/?height=372&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='http://codepen.io/ramseykjenna/pen/Myxyjy/'>Centerer Mixin</a> by Jenna Ramsey (<a href='http://codepen.io/ramseykjenna'>@ramseykjenna</a>) on <a href='http://codepen.io'>CodePen</a>.
            </iframe>
            <div class="comments">
                <input type="text" placeholder="Add Comment..">
                <button>Comment</button>
            </div>
        </div>
          <div class="card">
            <div class="detail">
                <span class="title">Centerer Mixin</span>
                <span class="user">by Jenna Ramsey</span>
                <div class="icons">
                    <i class="ion-ios-plus-outline"></i>
                    <i class="ion-clipboard"></i>
                </div>
            </div>
            <iframe height='372' class="codepen" scrolling='no' src='//codepen.io/ramseykjenna/embed/Myxyjy/?height=372&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='http://codepen.io/ramseykjenna/pen/Myxyjy/'>Centerer Mixin</a> by Jenna Ramsey (<a href='http://codepen.io/ramseykjenna'>@ramseykjenna</a>) on <a href='http://codepen.io'>CodePen</a>.
            </iframe>
            <div class="comments">
                <input type="text" placeholder="Add Comment..">
                <button>Comment</button>
            </div>
        </div>
          <div class="card">
            <div class="detail">
                <span class="title">Centerer Mixin</span>
                <span class="user">by Jenna Ramsey</span>
                <div class="icons">
                    <i class="ion-ios-plus-outline"></i>
                    <i class="ion-clipboard"></i>
                </div>
            </div>
            <iframe height='372' class="codepen" scrolling='no' src='//codepen.io/ramseykjenna/embed/Myxyjy/?height=372&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='http://codepen.io/ramseykjenna/pen/Myxyjy/'>Centerer Mixin</a> by Jenna Ramsey (<a href='http://codepen.io/ramseykjenna'>@ramseykjenna</a>) on <a href='http://codepen.io'>CodePen</a>.
            </iframe>
            <div class="comments">
                <input type="text" placeholder="Add Comment..">
                <button>Comment</button>
            </div>
        </div>
          <div class="card">
            <div class="detail">
                <span class="title">Centerer Mixin</span>
                <span class="user">by Jenna Ramsey</span>
                <div class="icons">
                    <i class="ion-ios-plus-outline"></i>
                    <i class="ion-clipboard"></i>
                </div>
            </div>
            <iframe height='372' class="codepen" scrolling='no' src='//codepen.io/ramseykjenna/embed/Myxyjy/?height=372&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='http://codepen.io/ramseykjenna/pen/Myxyjy/'>Centerer Mixin</a> by Jenna Ramsey (<a href='http://codepen.io/ramseykjenna'>@ramseykjenna</a>) on <a href='http://codepen.io'>CodePen</a>.
            </iframe>
            <div class="comments">
                <input type="text" placeholder="Add Comment..">
                <button>Comment</button>
            </div>
        </div>
         <h1>Saved Mixins</h1>
          <div class="card">
            <div class="detail">
                <span class="title">Centerer Mixin</span>
                <span class="user">by Jenna Ramsey</span>
                <div class="icons">
                    <i class="ion-ios-plus-outline"></i>
                    <i class="ion-clipboard"></i>
                </div>
            </div>
            <iframe height='372' class="codepen" scrolling='no' src='//codepen.io/ramseykjenna/embed/Myxyjy/?height=372&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='http://codepen.io/ramseykjenna/pen/Myxyjy/'>Centerer Mixin</a> by Jenna Ramsey (<a href='http://codepen.io/ramseykjenna'>@ramseykjenna</a>) on <a href='http://codepen.io'>CodePen</a>.
            </iframe>
            <div class="comments">
                <input type="text" placeholder="Add Comment..">
                <button>Comment</button>
            </div>
        </div>
          <div class="card">
            <div class="detail">
                <span class="title">Centerer Mixin</span>
                <span class="user">by Jenna Ramsey</span>
                <div class="icons">
                    <i class="ion-ios-plus-outline"></i>
                    <i class="ion-clipboard"></i>
                </div>
            </div>
            <iframe height='372' class="codepen" scrolling='no' src='//codepen.io/ramseykjenna/embed/Myxyjy/?height=372&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='http://codepen.io/ramseykjenna/pen/Myxyjy/'>Centerer Mixin</a> by Jenna Ramsey (<a href='http://codepen.io/ramseykjenna'>@ramseykjenna</a>) on <a href='http://codepen.io'>CodePen</a>.
            </iframe>
            <div class="comments">
                <input type="text" placeholder="Add Comment..">
                <button>Comment</button>
            </div>
        </div>
          <div class="card">
            <div class="detail">
                <span class="title">Centerer Mixin</span>
                <span class="user">by Jenna Ramsey</span>
                <div class="icons">
                    <i class="ion-ios-plus-outline"></i>
                    <i class="ion-clipboard"></i>
                </div>
            </div>
            <iframe height='372' class="codepen" scrolling='no' src='//codepen.io/ramseykjenna/embed/Myxyjy/?height=372&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='http://codepen.io/ramseykjenna/pen/Myxyjy/'>Centerer Mixin</a> by Jenna Ramsey (<a href='http://codepen.io/ramseykjenna'>@ramseykjenna</a>) on <a href='http://codepen.io'>CodePen</a>.
            </iframe>
            <div class="comments">
                <input type="text" placeholder="Add Comment..">
                <button>Comment</button>
            </div>
        </div>
          <div class="card">
            <div class="detail">
                <span class="title">Centerer Mixin</span>
                <span class="user">by Jenna Ramsey</span>
                <div class="icons">
                    <i class="ion-ios-plus-outline"></i>
                    <i class="ion-clipboard"></i>
                </div>
            </div>
            <iframe height='372' class="codepen" scrolling='no' src='//codepen.io/ramseykjenna/embed/Myxyjy/?height=372&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='http://codepen.io/ramseykjenna/pen/Myxyjy/'>Centerer Mixin</a> by Jenna Ramsey (<a href='http://codepen.io/ramseykjenna'>@ramseykjenna</a>) on <a href='http://codepen.io'>CodePen</a>.
            </iframe>
            <div class="comments">
                <input type="text" placeholder="Add Comment..">
                <button>Comment</button>
            </div>
        </div>
          <div class="card">
            <div class="detail">
                <span class="title">Centerer Mixin</span>
                <span class="user">by Jenna Ramsey</span>
                <div class="icons">
                    <i class="ion-ios-plus-outline"></i>
                    <i class="ion-clipboard"></i>
                </div>
            </div>
            <iframe height='372' class="codepen" scrolling='no' src='//codepen.io/ramseykjenna/embed/Myxyjy/?height=372&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='http://codepen.io/ramseykjenna/pen/Myxyjy/'>Centerer Mixin</a> by Jenna Ramsey (<a href='http://codepen.io/ramseykjenna'>@ramseykjenna</a>) on <a href='http://codepen.io'>CodePen</a>.
            </iframe>
            <div class="comments">
                <input type="text" placeholder="Add Comment..">
                <button>Comment</button>
            </div>
        </div>
         <div class="card">
            <div class="detail">
                <span class="title">Centerer Mixin</span>
                <span class="user">by Jenna Ramsey</span>
                <div class="icons">
                    <i class="ion-ios-plus-outline"></i>
                    <i class="ion-clipboard"></i>
                </div>
            </div>
            <iframe height='372' class="codepen" scrolling='no' src='//codepen.io/ramseykjenna/embed/Myxyjy/?height=372&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='http://codepen.io/ramseykjenna/pen/Myxyjy/'>Centerer Mixin</a> by Jenna Ramsey (<a href='http://codepen.io/ramseykjenna'>@ramseykjenna</a>) on <a href='http://codepen.io'>CodePen</a>.
            </iframe>
            <div class="comments">
                <input type="text" placeholder="Add Comment..">
                <button>Comment</button>
            </div>
        </div>

 </div>
