<div class="home-page">
    <div class="logo"><img src="images/MixinAid.svg" alt=""></div>
    <div class="about">
        <p>Welcome to MixinAid! The mixin library that’s super easy to use!!
            <br>Here, users can find just the right mixin for projects, and upload mixins they feel would be useful for others!</p>
    </div>
    <div class="search">
        <input type="text" placeholder="Search Mixins">

    </div>
    <div class="latest">
        <h1 class="latest-header">Latest</h1>
        <div class="card">
            <div class="detail">
                <h1>Centerer Mixin</h1>
                <h2>Jenna Ramsey</h2>
                <h3>May 10, 2016</h3>
                <div class="description">
                    <p>This mixin centers elements both vertically and horizontally. The parent must be position:relative.</p>
                </div>
                <img class="heart" src="images/heart-icon.svg" alt="">
                <img class="comment" src="images/comment-icon.svg" alt="">
                <img class="save" src="images/save-icon.svg" alt="">
            </div>
            <iframe height='372' class="codepen" scrolling='no' src='//codepen.io/ramseykjenna/embed/Myxyjy/?height=372&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='http://codepen.io/ramseykjenna/pen/Myxyjy/'>Centerer Mixin</a> by Jenna Ramsey (<a href='http://codepen.io/ramseykjenna'>@ramseykjenna</a>) on <a href='http://codepen.io'>CodePen</a>.
            </iframe>
        </div>
        <div class="card">
            <div class="detail">
                <h1>Centerer Mixin</h1>
                <h2>Jenna Ramsey</h2>
                <h3>May 10, 2016</h3>
                <div class="description">
                    <p>This mixin centers elements both vertically and horizontally. The parent must be position:relative.</p>
                </div>
                <img class="heart" src="images/heart-icon.svg" alt="">
                <img class="comment" src="images/comment-icon.svg" alt="">
                <img class="save" src="images/save-icon.svg" alt="">
            </div>
            <iframe height='372' class="codepen" scrolling='no' src='//codepen.io/ramseykjenna/embed/Myxyjy/?height=372&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='http://codepen.io/ramseykjenna/pen/Myxyjy/'>Centerer Mixin</a> by Jenna Ramsey (<a href='http://codepen.io/ramseykjenna'>@ramseykjenna</a>) on <a href='http://codepen.io'>CodePen</a>.
            </iframe>
        </div>
        <div class="card">
            <div class="detail">
                <h1>Centerer Mixin</h1>
                <h2>Jenna Ramsey</h2>
                <h3>May 10, 2016</h3>
                <div class="description">
                    <p>This mixin centers elements both vertically and horizontally. The parent must be position:relative.</p>
                </div>
                <img class="heart" src="images/heart-icon.svg" alt="">
                <img class="comment" src="images/comment-icon.svg" alt="">
                <img class="save" src="images/save-icon.svg" alt="">
            </div>
            <iframe height='372' class="codepen" scrolling='no' src='//codepen.io/ramseykjenna/embed/Myxyjy/?height=372&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='http://codepen.io/ramseykjenna/pen/Myxyjy/'>Centerer Mixin</a> by Jenna Ramsey (<a href='http://codepen.io/ramseykjenna'>@ramseykjenna</a>) on <a href='http://codepen.io'>CodePen</a>.
            </iframe>
        </div>
    </div>
    <div class="popular">
        <h1 class="popular-header">Popular</h1>
        <div class="card">
            <div class="detail">
                <h1>Centerer Mixin</h1>
                <h2>Jenna Ramsey</h2>
                <h3>May 10, 2016</h3>
                <div class="description">
                    <p>This mixin centers elements both vertically and horizontally. The parent must be position:relative.</p>
                </div>
                <img class="heart" src="images/heart-icon.svg" alt="">
                <img class="comment" src="images/comment-icon.svg" alt="">
                <img class="save" src="images/save-icon.svg" alt="">
            </div>
            <iframe height='372' class="codepen" scrolling='no' src='//codepen.io/ramseykjenna/embed/Myxyjy/?height=372&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='http://codepen.io/ramseykjenna/pen/Myxyjy/'>Centerer Mixin</a> by Jenna Ramsey (<a href='http://codepen.io/ramseykjenna'>@ramseykjenna</a>) on <a href='http://codepen.io'>CodePen</a>.
            </iframe>
        </div>
        <div class="card">
            <div class="detail">
                <h1>Centerer Mixin</h1>
                <h2>Jenna Ramsey</h2>
                <h3>May 10, 2016</h3>
                <div class="description">
                    <p>This mixin centers elements both vertically and horizontally. The parent must be position:relative.</p>
                </div>
                <img class="heart" src="images/heart-icon.svg" alt="">
                <img class="comment" src="images/comment-icon.svg" alt="">
                <img class="save" src="images/save-icon.svg" alt="">
            </div>
            <iframe height='372' class="codepen" scrolling='no' src='//codepen.io/ramseykjenna/embed/Myxyjy/?height=372&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='http://codepen.io/ramseykjenna/pen/Myxyjy/'>Centerer Mixin</a> by Jenna Ramsey (<a href='http://codepen.io/ramseykjenna'>@ramseykjenna</a>) on <a href='http://codepen.io'>CodePen</a>.
            </iframe>
        </div>
        <div class="card">
            <div class="detail">
                <h1>Centerer Mixin</h1>
                <h2>Jenna Ramsey</h2>
                <h3>May 10, 2016</h3>
                <div class="description">
                    <p>This mixin centers elements both vertically and horizontally. The parent must be position:relative.</p>
                </div>
                <img class="heart" src="images/heart-icon.svg" alt="">
                <img class="comment" src="images/comment-icon.svg" alt="">
                <img class="save" src="images/save-icon.svg" alt="">
            </div>
            <iframe height='372' class="codepen" scrolling='no' src='//codepen.io/ramseykjenna/embed/Myxyjy/?height=372&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true'>See the Pen <a href='http://codepen.io/ramseykjenna/pen/Myxyjy/'>Centerer Mixin</a> by Jenna Ramsey (<a href='http://codepen.io/ramseykjenna'>@ramseykjenna</a>) on <a href='http://codepen.io'>CodePen</a>.
            </iframe>
        </div>
    </div>
</div>
