<div class="new-page">
    <div class="logo"><img src="images/MixinAid.svg" alt=""></div>
    <div class="about">
        <h1>Do you have a mixin that could be useful to others?</h1>
    <p>If so, follow these steps!</p>
    <ul>
        <li>First, create a codepen that showcases your mixin</li>
        <li>Next, select the export option and hit "embed pen"</li>
        <li>Copy the code provided by codepen</li>
        <li>Fill out the form below, and paste the code in the space provided</li>
        <li>Hit submit, and behold your fabulous mixin!</li>
    </ul>

    </div>






    <form>
        Name:
        <br>
        <input type="text">
        <br> Paste codepen here:
        <input type="text">
        <br>
        <input type="submit" value="Submit">

    </form>



</div>
