<div class="new-page">

    <div class="about">
        <h1>Do you have a mixin that could be useful to others?</h1>
        <p>If so, follow these steps!</p>
        <ul>
            <li><span>1. </span> First, create a <a href="https://codepen.io/">codepen</a> that showcases your mixin

            </li>
            <li><span>2. </span> Next, select the export option and hit "embed pen"
                <div class="cp-example">
                    <img src="images/Example-CP.png" alt="">
                    <img src="images/Example-CP-2.png" alt="">
                </div>
            </li>
            <li><span>3. </span> Copy and paste the code provided into the form below
                <textarea class="codepen-text"  placeholder="Paste Codepen here.."></textarea>
            </li>
            <li><span>4. </span> Hit submit, and behold your fabulous mixin!
            </li>
        </ul>

    </div>
    <div class="upload">


        <button>Submit</button>
    </div>






</div>
