.all-page {
    padding-top: 2em;
    .card {
        width: 100%;
        height: 372px;
        border-radius: 10px;
        border: 2px solid $secondary;
        margin-bottom: 2em;
        overflow: hidden;
        .codepen {
            width: 50%;
            @include linear;
        }
        .detail {
            width: 50%;
            @include linear;
            padding: 1em;
            h1 {
                font-weight: normal;
                font-size: 1.5em;
                margin: 0;
                color: $primary;
            }
            h2 {
                @extend h1;
                color: lighten($primary, 25%);
                font-size: 1em;
                margin-left: 1em;
            }
            h3 {
                @extend h1;
                color: lighten($primary, 35%);
                font-size: .75em;
                position: absolute;
                top: 1em;
                right: 1em;
            }
            .description {
                color: $primary;
                margin-bottom: 12em;
            }
            .heart {
                height: 1em;
                width: auto;
                @include linear;
                margin: 1em;
            }
            .comment {
                @extend .heart;
            }
            .save {
                @extend .heart;
            }
        }
    }
}
